body {
    /* display: grid;
    grid-template-columns: 50% 50%; */
    font-family: 'EB Garamond', serif;
    font-size: 1.1rem;
    margin: 0 auto;
    text-align: left;
    background-color: #283149;
}

h1 {
    color: #283149;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    /* text-align:left; */
}

header {
    padding: 1rem 3rem;
    background-color:#fff;
}

.log-button {
    background-color: #D93D2C;
    border-radius: 10px;
    color: white;
    padding: .25rem;
    width: 10rem;
}

.landing-right {
    background-color: #283149;
    color: #FFFFFF;
    padding: 3rem;
}

.landing-left {
    text-align:center;
    background-color:#fff;
}


@media (max-width: 700px) {

    header,
    .landing-right {
        grid-column: 1 / span 5;
    }

}
