<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
</head>

<body>
    
    <% if (user) { %>
<!--  add input forms here -->
        <form>
            
            <h1 class="h3 mb-3 font-weight-normal">Add Functional Areas</h1>

            <div id="errorMessage">

            </div>

            <label for="functionalArea" class="sr-only">Functional Areas</label>
            <input type="text" id="functionalArea" class="form-control" placeholder="Enter Functional Area" required autofocus>

            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="submitFunctionalArea(event)">Submit</button>
    
        </form>

    <% } %>

    
</body>

<!--add links to app.js and axios.js  -->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

<script type="text/javascript">
    function submitFunctionalArea(event) {
        console.log('bang');
        event.preventDefault();
        let function_input = document.getElementById('functionalArea').value;

        let data = {
            function : function_input
        };
        console.log(data, 'functional Area');
        
        createFunctionalArea(data)
            .then(res => {
                // response was a success
                console.log('wooo!', res);
            })
            .catch(err => {
                // response failed
            });
        // let successCallback = function(response) {
           
        //     //let item = createFunctionalArea(data);
        //     window.location = '/adminInput';
        //     //clear the textbox
        //     document.getElementById('functionalArea').value = '';
        // }
        // let errorCallback = function(response) {
        //     // axios('#errorMessage').html(response.responseText);
        //     console.log(response, 'you suck');
        //     document.getElementById('functionalArea').value = 'You Suck';
        // }
        // apiFunctionalArea(data, successCallback, errorCallback);
    }

//necessary?????
//     function apiGetFunctionalArea(successCallback, errorCallback) {
//         axios.get(app_url + 'api/functionalArea', {})
//             .then(successCallback)
//             .catch(errorCallback)
// }
//     function apiFunctionalArea(data, successCallback, errorCallback) {
//     console.log('data in axios.js', data);

//         axios.post('http://localhost:3000/' + 'api/functionalArea', {
//             data })
//             .then(successCallback)
//             .catch(errorCallback);
// }



    </script>
</html>