<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <form class="container-fluid" action="/profile/edit" method="PATCH">
        <div class="form-group">
            <label for="bio">Bio</label>
            <label>
                <input class="" type="text" name="bio" id="bio" autocomplete="off" >
            </label>
        </div>
        <div class="form-group">
            <label for="strengths">Strengths</label>
            <textarea type="text" name="strengths" id="strengths" row="5" cols="50" autocomplete="off" ></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="post" >save</button>
    </form>

<footer>
    <%- include('../partials/footer') -%>
</footer>

</body>
</html>