<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <%- include('../partials/header') -%>
    </header>

    <div class="landing-right">
        <div>Buddy Pass is an internal networking program developed in response to discussions 
            about how [Company Name] could build social capital among teams working in separate locations or 
            projects and across functional teams. The goal is for participants to learn more about their colleagues 
            and what they bring to the team, build community and trust, and gain some new skills. </div>
        <h2>Participants will:</h2>
        <ul>
            <li>Be randomly matched with an accountable buddy each quarter.</li>
            <li>Write their own passport bio using the provided template.</li>
            <li>Together with their buddy, set up a schedule of meetings, either virtual or in person.</li>
            <li>Ask questions and learn new things about each other.</li>
            <li>Provide endorsements for your buddy – skills and traits discovered through interacting over time. For example, understanding what motivates a person or hidden strengths (listening skills, analyzing problems effectively).</li>
        </ul>
    </div>

</body>
</html>