<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <%- include('../partials/header') -%>
    </header>

    <div class="landing-right">
        <div>In response to discussions about how we build social capital among teams working in separate locations or project,
            across functional teams, an idea for an internal networking program has been developed.<br><br>
            We welcome you to join the pilot of Buddy Pass where you can learn more about your
            colleagues and the strengths they bring to the team, build community and trust,
            and gain appreciation of others.</div>
        <h2>WHAT</h2>
        <ul>
            <li>You will be randomly matched with an accountable buddy each quarter (pilot will run 2/1 – 3/15)</li>
            <li>Write a bio for your passport (description, preferred communication method, areas of strength and improvement, and things to learn)</li>
            <li>Together set up a schedule of meetings, either virtual or in person.</li>
            <li>Ask questions, learn new things about each other, such as areas of strengths
        or determining ways to improve process in his/her current position</li>
        <li>In the end, post endorsements for your buddy – skills and traits discovered through interacting over time. For example, understanding what motivates a person or hidden strengths (listening skills, analyzing problems effectively)</li>
        </ul>
    </div>


    <footer></footer>

</body>
</html>