<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') -%>
  </head>

  <body>
    <h1>Buddy Pass</h1>
    <a href="/auth/linkedin">Login with LinkedIn</a>
    <% if (user) { %>
    <h2><%= user.displayName %></h2>
    <% } %>



  </body>
</html>
