<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
    <link rel='stylesheet' href='css/profile.css'></link>
</head>

<body>
    
    <% if (user) { %>
        <%- include('../partials/profile-card') -%>
    <% } %>

    <footer>
        <%- include('../partials/footer') -%>
    </footer>
</body>
</html>